@font-face {
  font-family: 'SeoulHangangM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
 @font-face {
  font-family: 'SeoulHangangL';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
#scene_wrapper {
    line-height: 0;
    position: relative;
    min-height: 557px;
  }
  #scene_slider {
    position: absolute;
    width: 100%;
    z-index: -1;
    /* top: 244px; */
  }
  #skin_info {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
  }
  .section:nth-child(odd) {
    background-color: #fdf8f4;
}
.section_header {
  font-size: 12px;
}
.section_title {
  font-size: 20px;
      border-bottom: 1px solid #ddd0c7;
      color: #544741;
      font-family: 'SeoulHangangL';
}
.insa_text {
  line-height: 24px;
  margin-bottom: 30px;
  font-family: 'SeoulHangangM';
}
#insa_family_tbl {
  border-spacing: 0 10px;
  
}

.insa_rel_block, .insa_ord_block,#insa_family_tbl td span, #insa_family_tbl td div{
  font-family: 'SeoulHangangM';
}
.insa_parent_block div {
  line-height: 20px;
}
.insa_rel_block, .insa_ord_block {
  padding-left: 5px;
  padding-right: 5px;
}
.calendar_ym {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 14px;
    text-align: center;
    font-family: 'SeoulHangangM';
}
.calendar th, .calendar td {
  height: 36px;
  font-family: 'Spoqa Han Sans';
  font-weight: 300;
  text-align: center;
  word-break: break-all;
}
.calendar .dday > span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #dfc9bb;
  border-radius: 100%;
  color: #524441;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
}
.calendar .dday > span {
  background-color: #dfc9bb;
  color: #524441;
}